.header {
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 90px;
    }
}



.logo {
    height: 90px;

    img {
        height: 90px;
    }
}
